<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://kit.fontawesome.com/3eac30fe5c.js" crossorigin="anonymous"></script>
    <title>toDo</title>
  </head>
  <body>
    <section class="ToDoApp">
      <div class="user-form">
        <div class="user-form-title">
          <input type="text" value="" class="title-input" placeholder="Tytuł zadania" />
          <button type="button" class="addTask">Dodaj</button>
        </div>
        <textarea cols="30" rows="10" value="" placeholder="Opis zadania"></textarea>
        <input type="date" value="" class="date-input" />
      </div>

      <div class="task-contener"></div>
    </section>
  </body>
</html>
