<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://kit.fontawesome.com/3eac30fe5c.js" crossorigin="anonymous"></script>
    <title>toDo</title>
  </head>
  <body>
    <section>
      <div class="user-form">
        <form>
          <input value="" class="title-input" />
          <button type="button" class="addTask">Dodaj</button>

          <textarea cols="30" rows="10" value=""></textarea>

          <input type="date" value="" class="date-input" />
        </form>
      </div>
      <div class="task-contener"></div>
    </section>
  </body>
</html>
